// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Variables
@import 'variables';

// Import custom styles (pseudo-classes, additional CSS)
@import 'custom';

@import "bootstrap/scss/bootstrap-utilities";

// Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

// Bootstrap
@import 'bootstrap/scss/bootstrap';
