.swal2-container {
    z-index: 9999 !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered {
    display: inline !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    display: inline-flex !important;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-search {
    display: inline !important;
}